
div.options div {
    float: left;
    clear: right;
    border: 1px solid gray;
    width: 300px;
    height: 160px;
    padding: 0% 1.5% 0% 1.5%;
    margin: 0% 0.8% 2.0% 0.8%;
    text-align: left;
}

div.options label {
    width: 100px;;
    clear: both;
    text-align: left;
}

div.options input, label {
    float: left;
}

div.options input.submit_btn {
    width: 80%;
    position: relative;
    /* bottom: 5px; */
    /* bottom: 10px; */
    margin: 5% 10% 0% 10%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}